<a href="https://colab.research.google.com/github/nama723/10-MicroService-Appliction/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

false

In [ ]:
x = int(input())
y = int(input())
z = int(input())
print(max(x,y,z))

2
3
5
5

In [ ]:
i=1
while i<=5:
  print("namanaresh")
  i=i+1

namanaresh
namanaresh
namanaresh
namanaresh
namanaresh

In [ ]:
i=1
while i<=2:
  print(i)
  i=i+1

1
2

In [ ]:
x=int(input())

i=1
while i<=x:
  print("candy")
  i=i+1

3
candy
candy
candy

In [ ]:
i=1
while i**2<=500:
  print(i**2)
  i=i+1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484

In [ ]:
av=4
x=int(input())
i=1
while i<=x:
  if i>=av:
    break #here break means we are getting out of the loop
  print('candy')
  i=i+1
print('by')

3
candy
candy
candy
by

In [ ]:
#print the numbers from 1 to 100 and skip the odd numbers
for i in range(1,101):
  if i%2==1:
    continue #continue means skipping that part or that iteration
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
#check given number is even or odd.
x=int(input())
if x%2==0:
  print('even')
else:
  print('odd')

13
odd

In [ ]:
for i in range(4):
  for j in range(4):
    print("#",end="")
  print()

####
####
####
####

In [ ]:
#print the numbers from 1 to 100 and skip the numbers which are divisible by 2.
for i in range(1,101):
  if i%2==0:
    continue #continue ==skip that iteration
  print(i)

In [ ]:
# printing pattern
for i in range(4):
  for j in range(i+1):
    print('#',end="")
  print()

#
##
###
####

In [ ]:
# printing pattern
for i in range(4):
  for j in range(4-i):
    print('#',end="")
  print()

####
###
##
#

In [ ]:
#array user inputs.
from array import *
int_array=array('i',[])
n=int(input("enter the length of the array"))

for i in range(n):
  x=int(input('enter the value of array'))
  int_array.append(x)

print(int_array)

k=int(input('enter the index value'))
if k in int_array:
     print (int_array.index(k))

enter the length of the array2
enter the value of array23
enter the value of array43
array('i', [23, 43])
enter the index value43
1

In [ ]:
#print all the even numbers from 1 to 20
for i in range(1,21):
  if i%2!=0:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#check the given number is prime or not
num=int(input("enter your number"))
for i in range(2,num):
  if num%i==0:
    print("not prime")
    break
else:
  print("prime")

enter your number49
not prime

In [ ]:
#print patterns
for i in range (0,4):
  for e in range (0,4-i):
    print('*',end="")
  print()

****
***
**
*

In [4]:
#palyndrome
usr=input()
if usr==usr[::-1]:
  print("paly")
else:
  print("false")

nan
paly

In [17]:
#slicing
a="namanaresh"
print(a[-1:1])

In [33]:
d=input()
c=len(d)
if c>10:
  if a in d:
   print("yes")
else:
  print("no")

baburaomastan

In [44]:
from array import*
n=int(input('enter the length of the array'))
int_array=array('i',[])
for i in range (n):
  i=int(input('enter the value of the array'))
  int_array.append(i)
print(int_array)
k=int(input('enter your choice'))
if k in int_array:
 print(int_array.index(k))

enter the length of the array3
enter the value of the array45
enter the value of the array43
enter the value of the array42
array('i', [45, 43, 42])
enter your choice43
1

In [48]:
num=int(input('enter a integer'))
for i in range(2,num):
  if num%i==0:
    print('not prime')
    break
else:
  print('prime')

enter a integer56
not prime

In [52]:
string=input()
if 'yes' in string:
  print("yes")
else:
  print('thanks')

yesu
yes